<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录-史上最简单的SpringSecurity教程</title>
</head>
<body align="center">
    <form action="/login" method="post" th:action="@{/login}" th:method="post">
        <div>
            <input type="text" name="username" placeholder="用户名">
        </div>
        <div>
            <input type="password" name="password" placeholder="密码">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> 记住我</label>
        </div>
        <button type="submit">登录</button>
        <p align="text-center"> <a href="login.html#">
            <small>忘记密码了？</small></a> | <a href="#">注册一个新账号</a>
        </p>
    </form>
</body>
</html>